body {
    font-size: 16px;
    background: #f9f9f9;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
h2 {
    text-align: center;
    /* text-decoration: underline; */
}
form {
    max-width: 300px;
    width: 100%;
    background: #fff;
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    /* margin: 50px auto 0; */
    /* border-radius: 5px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
label {
    display: contents !important;
    margin-bottom: 5px
}
label i {
    color: #999;
    font-size: 80%;
}
input, select {
    border: 0px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    border-bottom: 1px solid #ccc;
}
.row {
    padding-bottom: 10px;
}
.form-inline {
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
}
.form-inline label, .form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}
.error {
    color: red;
    font-size: 90%;
    display: contents;
}
input[type="submit"] {
    font-size: 14px;
    font-weight: 100;
    background: #006dcc;
    /* border-color: #016BC1;
    box-shadow: 0 3px 0 #0165b6; */
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #0165b6;
}